In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#url from Kaggle. Load the data from the file
data_path = '../data/raw/ai_job_dataset.csv'
df = pd.read_csv(data_path)

In [ ]:
# Display first few rows of the dataframe
#To know cols and rows, dimensions of DF
df.shape
print('Dataset shape:', df.shape)

#first rows && last rows. To see how the data is in DF (dtypes)
df.head()
df.info()
df.dtypes

In [ ]:
#Hyphothesis
#education_required, experience_levelm salary_usd, required_skills, job_tittle, posting_date, company_location, benefits_score

In [ ]:
#To see if there is any null value
print('Null values: ', df.isnull().sum())

#To see if there is any duplicated value
print('df.duplicateds: ', df.duplicated().sum())

#to see duplicates one by one
#print('education_required duplicates: ', df.duplicated(subset='education_required'))
#print('years_experience duplicates: ', df.duplicated(subset='years_experience'))

In [ ]:
#Combining and structuring data
#education_required, experience_level, salary_usd, required_skills, job_tittle, posting_date, company_location, benefits_score
new_df = pd.concat([df.education_required, df.experience_level, df.salary_usd, df.required_skills, df.job_title, df.posting_date, df.company_location, df.benefits_score ], axis=1)
display(new_df)

In [ ]:
#mode_val_education= df['education_required'].mode()
#print("The education required most common is (mode): ", mode_val_education)

#job_tittle = df['job_title'].mode()
#print("The job tittle most frequent is: ", job_tittle)

#Get the mode for each column
for column in ["education_required", "experience_level", "salary_usd", "required_skills", "job_title", "posting_date", "company_location", "benefits_score"]:
    
    mode = df[column].mode()
    print(f"Mode for {column}: {mode.tolist()}")

In [ ]:
# matplot and seaborn
import seaborn as sns
import matplotlib.pyplot as plt

#education_required, experience_level, salary_usd, required_skills, job_tittle, posting_date, company_location, benefits_score

#DISTRIBUTION OF SALARIES (USD)
plt.figure(figsize=(8, 5))
plt.hist(new_df['salary_usd'], bins=32, color='green', edgecolor='black')
plt.title('Distribution of Salaries (USD)')
plt.xlabel('Salary (USD)')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

In [ ]:
import seaborn as sns

#BOXPLOT OF SALARY BY EXPERIENCE LEVEL
plt.figure(figsize=(10, 6))
sns.boxplot(x='experience_level', y='salary_usd', data=new_df)
plt.title('Salary Distribution by Experience Level')
plt.xlabel('Experience Level')
plt.ylabel('Salary (USD)')
plt.show()

In [ ]:
#BAR CHART: AVERAGE SALARY BY EDUCATION LEVEL
avg_salary = new_df.groupby('education_required')['salary_usd'].mean()
plt.figure(figsize=(6,4))
avg_salary.plot(kind='bar', color='orange')
plt.title('Average Salary by Education Level')
plt.xlabel('Education Required')
plt.ylabel('Average Salary (USD)')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.show()

In [ ]:
#JOB TITLE
# Count occurrences of each location
location_counts = new_df['job_title'].value_counts()

# Create pie chart
plt.figure(figsize=(8, 6))
plt.pie(location_counts, labels=location_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('Job tittle')
plt.axis('equal')  # Keep it circular
plt.show()

In [ ]:
#SALARY TREND BY POSTING DATE
new_df['posting_date'] = pd.to_datetime(new_df['posting_date'])

# Group by date
daily_salary = new_df.groupby('posting_date')['salary_usd'].mean()

plt.figure(figsize=(12, 5))
plt.plot(daily_salary.index, daily_salary.values, color='green')
plt.title('Average Salary Over Time')
plt.xlabel('Date')
plt.ylabel('Average Salary (USD)')
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
#COMPANY LOCATIONS
# Count occurrences of each location
location_counts = new_df['company_location'].value_counts()

# Create pie chart
plt.figure(figsize=(8, 6))
plt.pie(location_counts, labels=location_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('Company Location Distribution')
plt.axis('equal')  # Keep it circular
plt.show()

In [ ]:
#REQUIRED SKILLS
# Count occurrences of each skill
skills_counts = new_df['required_skills'].value_counts()

# Create pie chart
plt.figure(figsize=(8, 6))
plt.pie(skills_counts, labels=location_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('REQUIRED SKILLS')
plt.axis('equal')  # Keep it circular
plt.show()